extends default

block contents
	a(href="/users") All Users
	h3= "Edit User " + username + "\'s Details"
	br
	br
	- var form_action = "/user/update/" + username
	form(action=form_action method="post")
		label(for="signup_password") Password:
		input(type="password" id="signup_password" name="password")
		br
		p Role:
		input(type="radio" id="signup_role_user" name="role" value="user")
		label(for="signup_role_user") User
		br
		input(type="radio" id="signup_role_admin" name="role" value="admin")
		label(for="signup_role_admin") Admin
		br
		br
		input(type="submit" value="Update")