extends default

block contents
	div(class="container-fluid" id="main-page-contents")
		h2 Main Page
		a(href="signup" class="ref-button" role="button") Sign Up
		br
		br
		a(href="users" class="ref-button" role="button") Users
