extends default

block scripts
	script(type="text/javascript" src="/scripts/config.js")

block contents
	a(href="/sensors/all" class="ref-button" role="button") Cancel
	br
	br
	h3= `Config Sensor "${sensor_name}"`
	div(id="sensor-config")
		input(type="hidden" id="sensor_name" value=sensor_name)
		h3 Hardware:
		br
		br
		h4 Input Selectors:
		br
		div(id="input-selectors")
			ul(id="input-selectors-list" class="list-group")
			button(id="add-input-selector" type="button" class="ref-button") Add Input Selector
		h4 Output Selectors:
		br
		div(id="output-selectors")
			ul(id="output-selectors-list" class="list-group")
			button(id="add-output-selector" type="button" class="ref-button") Add Output Selector
		h4 Operands:
		br
		div(id="operands")
			ul(id="operands-list" class="list-group")
			button(id="add-operand" type="button" class="ref-button") Add Operand
		h4 Interrupts:
		br
		div(id="interrupts")
			ul(id="interrupts-list" class="list-group")
			button(id="add-interrupt" type="button" class="ref-button") Add Interrupt
		h4 Plans:
		br
		div(id="plans")
			ul(id="plans-list" class="list-group")
			button(id="add-plan" type="button" class="ref-button") Add Plan
	button(id="save-config" type="button" class="ref-button") Save Configuration
