extends default
include view_test

block contents
	a(href="/sensors/all" class="ref-button") Return To Sensors
	br
	br
	- if (tests.length == 0)
		h4 There Are No Tests
	- else
		div(class="d-flex align-items-left flex-column")
			each test in tests
				+view_test(test)
