extends default

block contents
	div(id="users-table")
		table
			tr
				th Username
				th Role
				th Actions
			- for (let user of users)
				tr
					td= user.username
					td= user.role
					td
						a(href="/user/update/" + user.username class="ref-button" role="button") Update
						form(action="/user/delete/" + user.username method="post")
							input(type="submit" value="Delete" class="ref-button" role="button")
