
body { 
    padding-top: 65px; 
}

.error-message {
    color: red;
    text-align: center;
}

.ref-button {
    width: auto;
    font-size: 100%;
/*  line-height: 1.286;*/
/*  height: 1.286em;*/
    padding: .25em .75em;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    text-decoration: black;
    border: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    border-radius: .25em;
    box-shadow: none;
    background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    color: black;
    margin: .50em .50em;
}

.ref-button:hover {
    color: #111;
    background: #ccc;
    border-color: #fff;
    box-shadow: inset 1px 1px 3px #333;
}

.ref-button:active {
    color: #111;
    background: #ccc;
    border-color: #fff;
    box-shadow: inset 1px 1px 3px #333;
}
